@import './detailview.scss';

.crm-container {
  background-color: white;
  border-top: 1px solid $xr-border-line-color;
  border-bottom: 1px solid $xr-border-line-color;
  border-radius: 2px;
}


// 列表状态
.status_button {
  padding: 1px 6px;
  border: 1px solid $xr-border-line-color;
  border-radius: $xr-border-radius-base;
  display: inline-block;
  font-size: 12px;
  margin: 0 auto;
}

.status-mark {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: $xr-border-radius-base;
}

.customer-lock {
  color: #f15e64;
}

.deal-suc {
  font-size: 14px;
  color: #20b559;
}

.deal-un {
  font-size: 14px;
  color: #f95a5a;
}

// 列表金额
.money-bar {
  color: #99a9bf;
  line-height: 44px !important;
  position: absolute;
  left: 20px;
  top: 0;
}
