@import './detailview.scss';

.crm-container {
  background-color: white;
  border-top: 1px solid $xr-border-line-color;
  border-bottom: 1px solid $xr-border-line-color;
  border-radius: 2px;
}

.el-table /deep/ thead th {
  padding: 3px 0;
  background-color: #F6F8FA;

  .cell {
    color: #333333;
    font-size: 12px;
    font-weight: 600;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    .sort-caret {
      transform: scale(0.8);
    }

    .sort-caret.ascending {
      top: 7px;
    }
  }
}

.el-table /deep/ thead {

  .is-sortable.ascending,
  .is-sortable.descending {
    background-color: #E7EDF4;
  }

}

.el-table /deep/ td {
  padding: 8px 0;
}

.el-table /deep/ .el-table__row.current-row {
  td:first-child::before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 2px;
    background-color: #5383ED;
  }
}

.el-table /deep/ tbody tr td {
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: $xr-border-line-color;
  font-size: 13px;
}

.el-table /deep/ tbody tr td:nth-child(2) {
  border-right: 1px solid $xr-border-line-color;
}

.n-table--border {
  border-width: 0;
}

.n-table--border::after {
  display: none;
}

.p-contianer {
  position: relative;
  background-color: white;
  height: 44px;

  .p-bar {
    float: right;
    margin: 5px 100px 0 0;
  }
}

// 设置
.table-set {
  width: 15px;
  margin-top: 5px;
  cursor: pointer;
}

// 列表状态
.status_button {
  padding: 1px 6px;
  border: 1px solid $xr-border-line-color;
  border-radius: 4px;
  display: inline-block;
  font-size: 12px;
  margin: 0 auto;
}

// .el-table /deep/ .sort-caret.ascending {
//   top: -6px;
// }

// .el-table /deep/ .caret-wrapper {
//   height: 24px;
// }
