@import '../../customermanagement/styles/crmdetail.scss';

.email-container {
  background-color: white;
  border-top: 1px solid $xr-border-line-color;
  border-bottom: 1px solid $xr-border-line-color;
  border-radius: 2px;
}
