
/**  rel="stylesheet/scss" lang="scss"*/
$xr-color-primary: #2362FB; // 主色调蓝色

/** backgroud */
$xr--background-color-base: #F6F8FA;

/** border */
$xr-border-color-base: #e6e6e6;
$xr-border-radius-base: 4px;
$xr-border-line-color: #e6e6e6;
$xr-focus-border: $xr-color-primary;

/** border */
$xr-color-text-placeholder: #c0c4cc;

/** table */
$--table-border-color: #e6e6e6;
$--table-header-background: #FAFDFF;

/** tree */
$--tree-node-hover-color: white;
$--tree-expand-icon-color: white;

$xr-font-size-base: 13px;
$xr-font-size-small: 12px;
$xr-font-size-large: 18px;

$xr-backgroud: #f5f6f9;
/* Popover
-------------------------- */

/* Dialog
-------------------------- */
$--dialog-title-font-size: 16px;



